<h3>{{ demo.fields.demoName[0] }}</h3>
<p style="align:left;">{{ demo.fields.teaser[0] }}</p>
<div>
  <div style="float:left; padding:5px;" ng-repeat="vertical in demo.fields.verticals">
    <button class="btn">{{ vertical }}</button>
  </div>
  <div style="float:right; padding:5px;">
    <a href="{{ demo.fields.demoUrl[0] }}" style="float:right;" target="_blank">
      <button class="btn">
        <u>
          <span class="demoUrl">
            Launch Demo
          </span>
        </u>
      </button>
    </a>
  </div>

  <div style="float:right; padding:5px;">
    <a href="script-pdfs/{{demo.fields.filename[0]}}" style="float:right;" target="_blank">
      <button class="btn">
        <u>
          <span class="demoUrl">
            Download Script
          </span>
        </u>
      </button>
    </a>
  </div>


  <!-- <div style="float:right; padding:5px;">
    <button class="btn">
      <a href="http://acevm0625.lab.attivio.com:17000/sail/download?id=SCRIPTS-/home/brandon.bogan/data-agent/projects/demoGrid/default/resources/scripts/{{demo.fields.demoName[0]}}">
        <u>
          <span class="demoUrl">
            Download Script
          </span>
        </u>
      </a>
    </button>
  </div>
</div> -->
