<h3><a href="{{ demo.fields.demoUrl[0] }}">{{ demo.fields.demoName[0] }}</a></h3>
<p style="align:left;">{{ demo.fields.teaser[0] }}</p>
<div>
  <table style="float:left; padding:5px;">
    <tr ng-show="demo.fields.verticals">
      <td style="padding:1px 4px 1px 0px;"><b>Verticals:</b></td>
      <td>{{ makeFacetText(demo.fields.verticals) }}</td>
    </tr>
    <tr ng-show="demo.fields.features">
      <td style="padding:1px 4px 1px 0px;"><b>Features:</b></td>
      <td>{{ makeFacetText(demo.fields.features) }}</td>
    </tr>
    <tr ng-show="demo.fields.demoType">
      <td style="padding:1px 4px 1px 0px;"><b>Demo Type:</b></td>
      <td>{{ makeFacetText(demo.fields.demoType) }}</td>
    </tr>
  </table>
  <div style="float:right; padding:5px;">
    <a href="{{ demo.fields.demoUrl[0] }}" style="float:right;" target="_blank">
      <button class="btn">
        <u>
          <span class="demoUrl">
            Launch Demo
          </span>
        </u>
      </button>
    </a>
  </div>

  <div style="float:right; padding:5px;">
    <a href="script-pdfs/{{demo.fields.filename[0]}}" style="float:right;" target="_blank">
      <button class="btn">
        <u>
          <span class="demoUrl">
            Download Script
          </span>
        </u>
      </button>
    </a>
  </div>
