<div ng-repeat="facet in facets" class="facet-bar">
  <h4 >{{ facet.displayName }}</h4>
  <table>
    <tr ng-repeat="val in facet.values">
      <td style="width:12px; padding:3px;">
        <input type="checkbox"
        style="width:10px; height:10px;"
        ng-model="val.active"
        ng-change="handleCheckboxChange(facet, val)"/>
      </td>
      <td style="width:100px; padding:5px; font-size:12px;">
        {{ val.valueName }}
      </td>
      <td style="width:50px; passing:5px; text-align:right;">
        ({{ val.count }})
      </td>
    </tr>
    <tr></tr>
  </table>
</div>
