<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
  <script src = "js/app.js"></script>
  <script src = "js/angular-advanced-searchbox.js"></script>
  <script src = "js/searchservice.js"></script>
  <script src = "js/facetFactory.js"></script>
  <script src = "js/valueFactory.js"></script>
  <script src = "js/sidebar.js"></script>

  <title>Demonstration Portal</title>

  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/angular-advanced-searchbox.css">
  <!-- <link rel="stylesheet" href="css/autocomplete.css"> -->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</head>

<body class="wrapper" ng-app="demoApp" ng-controller="gridCtrl" ng-init="initialize();" ng-keydown="onKeyDown($event);">

  <header class="header-container">
    <div class="header_logo">
      <img src="images/ATTIVIO_LOGO_TAG.jpeg" width="317" width="75" alt="Attivio - That Data Dexterity Company"/>
    </div>
    <div class="header_title">
      <h1 class="title">Demonstrations</h1>
      <!-- The Search Box Area -->
      <!-- <label class="search-box">
      <b>Search Demos: </b><input class="search-input" type="text" ng-model="searchText" ng-change="search()">
    </label> -->
    <!-- <search-box align="left"></search-box> -->
    <div style="float:left; width:auto;">
      <button class="btn" style="width:75px; margin: 8px 0 0 5px;" ng-click="search()">
        <span class="demoUrl">
          Search
        </span>
      </button>
      <nit-advanced-searchbox ng-model="searchParams" parameters="availableSearchParams" placeholder="Search..." ng-change="search()" ng-keydown="onKeyDown($event)"></nit-advanced-searchbox>

    </div>
  </div>

</header>



<nav class="side-bar">
  <!-- <side-bar-directive demodata='demodata' facets='facets' search='search()'></side-bar-directive> -->
  <side-bar></side-bar>
</nav>

<div class="body-container" style="float:left;">
  <!-- <input type="text" ng-keydown="autocomplete()" id="testcase"/> -->

<div ng-if="searchText">
  <b>Search Results For: </b> {{ searchText }}
</div>
<table class="table table-striped">
  <tbody>
    <tr ng-repeat="demo in demodata.documents | orderBy:'score'">
      <td>
        <demo-thumbnail></demo-thumbnail>
      </td>
      <td style="color:#232F6B">
        <demo-summary></demo-summary>
      </td>
    </tr>
  </tbody>
</table>
</div>
</body>
</html>
